# GEE 教程（四）：Geemap 包的介绍与使用

In [1]:
import os
import ee
import geemap
from IPython.display import display

In [2]:
geemap.set_proxy(port="7890")

In [3]:
Map = geemap.Map(center=[30, 114], zoom=7)
Map

Map(center=[30, 114], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(To…

In [4]:
%load_ext sql

In [5]:
host = "localhost"
database = "yangtze"
user = "postgres"
password = "123qwe"
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [6]:
%sql $connection_string

'Connected: postgres@yangtze'

In [7]:
sql1 = 'SELECT * FROM campus'
sql2 = 'SELECT * FROM hualin'
gdf1 = geemap.read_postgis(sql1, connection_string)
gdf2 = geemap.read_postgis(sql1, connection_string)
display(gdf1,gdf1)

    id                                               geom      name
0    1  POLYGON ((502120.945 3379683.981, 502121.369 3...      校内1栋
1    2  POLYGON ((502137.493 3379596.149, 502133.391 3...      校内2栋
2    6  POLYGON ((502195.802 3379344.171, 502182.809 3...  安全与后勤保障部
3    7  POLYGON ((502152.627 3379264.209, 502152.591 3...     学生事务部
4    8  POLYGON ((502095.411 3379095.188, 502116.651 3...       图书馆
5    9  POLYGON ((502518.981 3378904.169, 502519.127 3...    石油科技大楼
6   11  POLYGON ((502267.999 3379146.574, 502285.517 3...      武教A楼
7   12  POLYGON ((502386.830 3379231.974, 502433.544 3...      武教B楼
8   13  POLYGON ((502255.445 3379323.433, 502256.321 3...       体育馆
9    3  POLYGON ((502134.099 3379452.590, 502119.460 3...      校内3栋
10   4  POLYGON ((502093.824 3379369.849, 502079.822 3...      校内4栋
11   5  POLYGON ((502053.322 3379287.822, 502052.884 3...        食堂
12  10  POLYGON ((502326.247 3379051.685, 502372.669 3...       实验楼

    id                                               geom      name
0    1  POLYGON ((502120.945 3379683.981, 502121.369 3...      校内1栋
1    2  POLYGON ((502137.493 3379596.149, 502133.391 3...      校内2栋
2    6  POLYGON ((502195.802 3379344.171, 502182.809 3...  安全与后勤保障部
3    7  POLYGON ((502152.627 3379264.209, 502152.591 3...     学生事务部
4    8  POLYGON ((502095.411 3379095.188, 502116.651 3...       图书馆
5    9  POLYGON ((502518.981 3378904.169, 502519.127 3...    石油科技大楼
6   11  POLYGON ((502267.999 3379146.574, 502285.517 3...      武教A楼
7   12  POLYGON ((502386.830 3379231.974, 502433.544 3...      武教B楼
8   13  POLYGON ((502255.445 3379323.433, 502256.321 3...       体育馆
9    3  POLYGON ((502134.099 3379452.590, 502119.460 3...      校内3栋
10   4  POLYGON ((502093.824 3379369.849, 502079.822 3...      校内4栋
11   5  POLYGON ((502053.322 3379287.822, 502052.884 3...        食堂
12  10  POLYGON ((502326.247 3379051.685, 502372.669 3...       实验楼

In [34]:
m = geemap.Map()
campusLayer = m.add_gdf_from_postgis(
    sql1, connection_string, layer_name="校内区域", fill_colors=["red", "green", "blue"]
)
hualinLayer = m.add_gdf_from_postgis(
    sql2, connection_string, layer_name="华林区域", fill_colors=["red", "green", "yellow"]
)
m.add_basemap('SATELLITE')
display(m)

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Togg…